{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  <div class="main-wrap">
    {{!-- Special header.hbs partial to generate the <header> tag --}}
    {{> header background=feature_image}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    <div class="m-hero__content" data-aos="fade-down">
      <h1 class="m-hero-title bigger">{{title}}</h1>
      {{#if custom_excerpt}}
        <p class="m-hero-description">{{custom_excerpt}}</p>
      {{/if}}
    </div>
    </section>
    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content">
              <div class="pos-relative js-post-content">
                <div>


<!-- Start of Content -->
<div class="background-box row" style="background-color: white;">


<div style="margin-left: 10%; margin-right: 10%;"> <!-- EDIT THIS RESPONSIVE -->
<div style="height: 50px;"></div> <!-- EDIT THIS RESPONSIVE -->

<div class="topnav" id="myTopnav">
	<b>Contents: </b>
	<a href="#about">About</a>
	<a href="#timeline">Timeline</a>
	<a href="#register">Register</a>
	<a href="#notice">Notices</a>
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
	  <i class="fa fa-bars"></i>
	</a>
</div>

<hr style="border: 1px solid grey;">

<div style="height: 50px;"></div>

<div id="#about">
	<div class="row">
		<div class="keep-column intro-left">
			<b style="font-size: 40px; font-weight: 650;">Welcome to HOPE!</b>
			<div style="height: 20px;"></div>
			<n style="font-size: 17px; font-weight: 300;">This course introduces printed circuit board (PCB) design 
				and layout practices and concerns. It is intended for students with some experience with circuits who 
				are interested in learning or improving their PCB design and fabrication skills, and particularly those 
				who are part of or intend to join engineering student organizations with working knowledge in PCB design.
			</n>
			<br><br>
			<n style="font-size: 17px;">
				<b>Time:</b> Wednesday 8-10 PM<br>
				<b>Location:</b> 140 Cory Hall<br>
				<b>Units: </b>1<br>
			</n>
		</div>

		<div class="keep-column intro-filler" style="margin-top: 20px;"></div>

		<div class="keep-column intro-right">
		<div style="width: 100%;">
			<div style="height: 10px;"></div>
			<b style="font-size: 30px; font-weight: 500;">Instructors</b><br><br>
			<div>
				<div class="">
					[image] Leon Wu
				</div>
				<div class="">
					[image] Kevin Zheng
				</div>
				<div class="">
					[image] Jeffrey Ni
				</div>
			</div>
			<div style="height: 40px;"></div>
			<b style="font-size: 30px; font-weight: 500;">Contact</b><br><br>
			<n style="font-size: 17px; font-weight: 400;">
				ieee-hope@lists.berkeley.edu
			</n>
		</div>
		</div>
	</div>
</div>
<div style="height: 50px;"></div>
<hr style="border: 1px solid grey;">

<div id="timeline" style="min-width: 1000px;">
	<div style="height: 50px;"></div>
	<b style="font-size: 40px; font-weight: 650;">Timeline</b>
	<div style="height: 50px;"></div>

	<div class="timeline-head">
		<div class="row">
			<div class="column timeline-h1" style="float: left;">
				Week
			</div>
			<div class="column timeline-h2" style="float: left;">
				Title
			</div>
			<div class="column timeline-h3" style="float: left;">
				Content
			</div>
			<div class="column timeline-h4" style="float: left;">
				Lab
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					1
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Introduction
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				• What is HOPE? <br>
				• What is a PCB? <br>
				• PCB EDA Tools <br>
				• General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
					<a href="">Intro to KiCad</a>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					2
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Schematics & Components, Pt.1
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
					• PCB Design <br>

					&nbsp;&nbsp;&nbsp;&nbsp;> Design Abstraction for PCBs, Introduction to Stakeholders <br>

					• Schematics for <br>
					
					&nbsp;&nbsp;&nbsp;&nbsp;> Connectivity of Components, Communication <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
					<a href="">Schematics & KiCad</a>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					3
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Schematics & Components, Pt.2
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
					Components <br>
					Component in KiCad schematics,
					Selecting components, and
					ICs and Product Families <br>
					Design Compromise <br>
					Introduction to DFX
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
					<a href="">USB Charger: Component Selection and Schematic Creation</a>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					4
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					PCB Layout, Pt.1
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
					<a href="">USB Charger: Footprint Creation and Board Setup</a>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					5
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					PCB Layout, Pt.2
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
					<a href="">USB Charger: Layout</a>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					6
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					PCB Layout, Pt.3
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					7
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					PCB Layout, Pt.4
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					8
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Microcontrollers and Even More Layout Concerns?
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
					<a href="">Microbug layout</a>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					9
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Spring Break
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				Enjoy your spring break!
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					10
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Even more PCB Layout? and Design Reviews
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					11
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					PCB Assembly
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					12
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Fun Lecture
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-odd">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					13
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Project Assembly
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline-even">
		<div class="row">
			<div class="column timeline-1" style="float: left;">
				<div class="timeline-content1">
					14
					<br> (Date)
				</div>
			</div>
			<div class="column timeline-2" style="float: left;">
				<div class="timeline-content2">
					Project Presentations
				</div>
			</div>
			<div class="column timeline-3" style="float: left; text-align: left;">
				<div class="timeline-content3">
				> What is HOPE? <br>
				> What is a PCB? <br>
				> PCB EDA Tools <br>
				> General PCB Project Workflow <br>
				</div>
			</div>
			<div class="column timeline-4" style="float: left;">
				<div class="timeline-content4">
				</div>
			</div>
		</div>
	</div>
	
	
	<div style="height: 50px;"></div>
</div>

<hr style="border: 1px solid grey;">

<div style="height: 50px;"></div>

<div id="register">
	<b style="font-size: 40px; font-weight: 650;">Register</b>
	<div style="height: 30px;"></div>
	<n style="font-size: 17px; font-weight: 300;"> Interested in this course? <br>
		Go to the <a href="">DeCal registration website</a> to register for Fall 2020.
	</n>
</div>

<div style="height: 50px;"></div>

<hr style="border: 1px solid grey;">

<div id="register">
	<b style="font-size: 40px; font-weight: 650;">Notices</b>
	<div style="height: 30px;"></div>
	{{content}}
</div>

<div style="height: 300px;"></div>

</div>
</div>


</div>
<!-- End of Content-->
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
